.smokeContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 5;
  overflow: hidden;
}

.smoke {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  filter: blur(80px);
  will-change: transform, opacity;
}

@media (max-width: 768px) {
  .smoke {
    width: 200px;
    height: 200px;
    filter: blur(40px);
  }
}

@media (max-width: 480px) {
  .smoke {
    width: 150px;
    height: 150px;
    filter: blur(30px);
  }
}

